<div class="container mt-5">

  <div class="jumbotron">

    <div class="row">
      <div class="col offset-4 offset-md-5 offset-lg-5">
        <h1 class="align-middle" style="margin-left: -50px;">{{blog?.company}}</h1>
        <p class="align-middle"><b>Package</b> {{blog?.package}}</p>
        <p class="align-middle"><b>Type Of Offer</b> {{blog?.typeOffer}}</p>
        <p class="align-middle"><b>Role</b> {{blog?.role}}</p>
        <p class="align-middle"><b>Rounds</b> {{blog?.rounds}}</p>
      </div>
    </div>

    <!-- <h1 class="align-middle">{{blog?.company}}</h1> -->

    <!-- <div style="margin-left: 50%;"> -->
      <!-- <p class="align-middle"><b>Package</b> {{blog?.package}}</p>
      <p class="align-middle"><b>Type Of Offer</b> {{blog?.typeOffer}}</p>
      <p class="align-middle"><b>Role</b> {{blog?.role}}</p>
      <p class="align-middle"><b>Rounds</b> {{blog?.rounds}}</p> -->
    <!-- </div> -->

    <hr class="my-4">
    <p>{{blog?.description}}</p>
    <br>
    <hr class="my-4">
    <p>Created By</p>
    <p class="align-middle"><b>Name</b> {{blog?.name}}</p>
    <p class="align-middle"><b>Email</b> {{blog?.email}}</p>

  </div>


  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


</div>

