
<div class="container mt-5">
  <form [formGroup]="form" (ngSubmit)="login(form.value)">
    <fieldset>

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" formControlName="email"
        class="form-control" id="exampleInputEmail1"
         aria-describedby="emailHelp"
          placeholder="Enter email"
          [ngClass]="{
            'is-invalid':
            form.get('email').errors &&
              (form.get('email').dirty ||
               form.get('email').touched ||submitted ),
            'is-valid':
              ! form.get('email').errors &&
              ( form.get('email').dirty ||
               form.get('email').touched)
          }">

          <div *ngIf="form.get('email').errors">
            <small *ngIf="
            form.get('email').errors.required &&
                (form.get('email').dirty ||
                form.get('email').touched ||submitted)
              " class="form-text text-danger">Email is required</small>
            <small *ngIf="
            form.get('email').errors.email &&
              (form.get('email').dirty ||
              form.get('email').touched)
            " class="form-text text-danger">Enter the correct email</small>
          </div>

      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" formControlName="password"
         class="form-control" id="exampleInputPassword1"
          placeholder="Password"
          [ngClass]="{
            'is-invalid':
            form.get('password').errors &&
              (form.get('password').dirty ||
               form.get('password').touched ||submitted ),
            'is-valid':
              ! form.get('password').errors &&
              ( form.get('password').dirty ||
               form.get('password').touched)
          }">

          <div *ngIf="form.get('password').errors">
            <small *ngIf="
            form.get('password').errors.required &&
                (form.get('password').dirty ||
                form.get('password').touched ||submitted)
              " class="form-text text-danger">Password is required</small>
            <small *ngIf="
            form.get('password').errors.minlength &&
              (form.get('password').dirty ||
              form.get('password').touched)
            " class="form-text text-danger">Minlength of password is 5</small>
          </div>

      </div>

      <div class="form-group">
        <a [routerLink]="['../','signup']">Sign Up ?</a>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
  </form>

  <ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
</div>


